infrastructure/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: GuatePass – Sistema completo de cobro automatizado de peajes

Parameters:
  StageName:
    Type: String
    Default: dev
    Description: Nombre del stage a desplegar (dev|prod, etc.)
  ProjectName:
    Type: String
    Default: guatepass
    Description: Nombre del proyecto

Globals:
  Function:
    Timeout: 30
    MemorySize: 256
    Runtime: python3.12
    Environment:
      Variables:
        USERS_TABLE: !Ref UsersVehicles
        TAGS_TABLE: !Ref Tags
        TRANSACTIONS_TABLE: !Ref Transactions
        INVOICES_TABLE: !Ref Invoices
        TOLLS_CATALOG_TABLE: !Ref TollsCatalog
        EVENT_BUS_NAME: !Ref GuatePassBus
        SNS_TOPIC_ARN: !Ref NotificationsTopic
  Api:
    EndpointConfiguration: REGIONAL

Resources:

  #### API (definido; rutas se agregan en el siguiente paso) ####
  RestApi:
    Type: AWS::Serverless::Api
    Properties:
      StageName: !Ref StageName
      Cors:
        AllowMethods: "'GET,POST,OPTIONS'"
        AllowHeaders: "'*'"
        AllowOrigin: "'*'"

  #### EventBridge ####
  GuatePassBus:
    Type: AWS::Events::EventBus
    Properties:
      Name: !Sub "guatepass-bus-${StageName}"

  TollDetectedRule:
    Type: AWS::Events::Rule
    Properties:
      EventBusName: !Ref GuatePassBus
      EventPattern:
        source:
          - guatepass.toll
        detail-type:
          - Toll Transaction Event
      State: ENABLED
      Targets:
        - Arn: !GetAtt ProcessTollStateMachine.Arn
          Id: ProcessTollTarget
          RoleArn: !GetAtt EventBridgeStepFunctionsRole.Arn
          InputTransformer:
            InputPathsMap:
              detail: "$.detail"
            InputTemplate: '{"detail": <detail>}'

  #### Step Functions ####
  ProcessTollStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub "${ProjectName}-process-toll-${StageName}"
      Type: STANDARD
      Tracing:
        Enabled: true
      Definition:
        Comment: "ProcessToll - Orquesta el procesamiento de transacciones de peaje con lógica de decisión por tipo de usuario"
        StartAt: ValidateTransaction
        States:
          ValidateTransaction:
            Type: Task
            Resource: !GetAtt ValidateTransactionFunction.Arn
            Comment: "Valida peaje, determina tipo de usuario y valida tag"
            Next: DetermineUserType
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.error"
                Next: HandleError
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
          DetermineUserType:
            Type: Choice
            Comment: "Decide qué flujo seguir según el tipo de usuario"
            Choices:
              - Variable: "$.user_type"
                StringEquals: "tag"
                Next: ProcessTagUser
              - Variable: "$.user_type"
                StringEquals: "registrado"
                Next: ProcessRegisteredUser
              - Variable: "$.user_type"
                StringEquals: "no_registrado"
                Next: ProcessUnregisteredUser
            Default: ProcessUnregisteredUser
          ProcessTagUser:
            Type: Pass
            Comment: "Flujo para usuario con Tag (Caso C)"
            InputPath: "$"
            OutputPath: "$"
            Result:
              processing_note: "Usuario con Tag RFID - Caso C"
            ResultPath: "$.processing_note"
            Next: CalculateCharge
          UpdateTagBalance:
            Type: Task
            Resource: !GetAtt UpdateTagBalanceFunction.Arn
            Comment: "Actualiza balance del tag y maneja deuda si aplica"
            InputPath: "$"
            Parameters:
              tag_id.$: "$.tag_info.tag_id"
              amount.$: "$.charge.total"
              transaction_id.$: "$.event_id"
              timestamp.$: "$.timestamp"
            ResultPath: "$.tag_balance_update"
            Next: PersistTransaction
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.error"
                Next: HandleError
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
          ProcessRegisteredUser:
            Type: Pass
            Comment: "Flujo para usuario registrado sin Tag (Caso B)"
            InputPath: "$"
            OutputPath: "$"
            Result:
              processing_note: "Usuario registrado sin Tag - Caso B"
            ResultPath: "$.processing_note"
            Next: CalculateCharge
          ProcessUnregisteredUser:
            Type: Pass
            Comment: "Flujo para usuario no registrado (Caso A)"
            InputPath: "$"
            OutputPath: "$"
            Result:
              processing_note: "Usuario no registrado - Caso A"
            ResultPath: "$.processing_note"
            Next: CalculateCharge
          CalculateCharge:
            Type: Task
            Resource: !GetAtt CalculateChargeFunction.Arn
            Comment: "Calcula monto según tipo de usuario (aplica tarifas diferentes)"
            Next: CheckIfTagUser
          CheckIfTagUser:
            Type: Choice
            Comment: "Decide si actualizar balance de tag"
            Choices:
              - Variable: "$.user_type"
                StringEquals: "tag"
                Next: UpdateTagBalance
            Default: PersistTransaction
          PersistTransaction:
            Type: Task
            Resource: !GetAtt PersistTransactionFunction.Arn
            Comment: "Guarda transacción e invoice en DynamoDB"
            Next: SendNotification
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.error"
                Next: HandleError
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
          SendNotification:
            Type: Choice
            Comment: "Decide si enviar notificación según tipo de usuario"
            Choices:
              - Variable: "$.user_type"
                StringEquals: "no_registrado"
                Next: EndState
            Default: SendNotificationTask
          SendNotificationTask:
            Type: Task
            Resource: !GetAtt SendNotificationFunction.Arn
            Comment: "Envía notificación vía SNS"
            End: true
          EndState:
            Type: Succeed
            Comment: "Transacción pendiente - esperando pago"
          HandleError:
            Type: Pass
            Comment: "Maneja errores y prepara información de fallo"
            Parameters:
              error.$: "$.error"
              input.$: "$"
              error_timestamp.$: "$$.State.EnteredTime"
              execution_arn.$: "$$.Execution.Id"
              state_machine_name.$: "$$.StateMachine.Name"
              error_message.$: "$.error.Error"
              error_cause.$: "$.error.Cause"
            Next: FailState
          FailState:
            Type: Fail
            Error: "ProcessingFailed"
            Cause: "Error en Step Functions. Revisa $.error para más detalles."
      Role: !GetAtt StepFunctionsExecutionRole.Arn
      Logging:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StepFunctionsLogGroup.Arn

  StepFunctionsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/stepfunctions/${ProjectName}-process-toll-${StageName}"
      RetentionInDays: 14

  #### DynamoDB ####
  UsersVehicles:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: placa
          AttributeType: S
        - AttributeName: email
          AttributeType: S
      KeySchema:
        - AttributeName: placa
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: email-index
          KeySchema:
            - AttributeName: email
              KeyType: HASH
          Projection:
            ProjectionType: ALL
      TableName: !Sub "UsersVehicles-${StageName}"

  Tags:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: tag_id
          AttributeType: S
      KeySchema:
        - AttributeName: tag_id
          KeyType: HASH
      TableName: !Sub "Tags-${StageName}"

  TollsCatalog:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: peaje_id
          AttributeType: S
      KeySchema:
        - AttributeName: peaje_id
          KeyType: HASH
      TableName: !Sub "TollsCatalog-${StageName}"

  Transactions:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: placa
          AttributeType: S
        - AttributeName: ts
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: S
        - AttributeName: event_id
          AttributeType: S
      KeySchema:
        - AttributeName: placa
          KeyType: HASH
        - AttributeName: ts
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: by_event
          KeySchema:
            - AttributeName: event_id
              KeyType: HASH
          Projection:
            ProjectionType: ALL
        - IndexName: placa-timestamp-index
          KeySchema:
            - AttributeName: placa
              KeyType: HASH
            - AttributeName: timestamp
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TableName: !Sub "Transactions-${StageName}"

  Invoices:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: placa
          AttributeType: S
        - AttributeName: invoice_id
          AttributeType: S
        - AttributeName: created_at
          AttributeType: S
      KeySchema:
        - AttributeName: placa
          KeyType: HASH
        - AttributeName: invoice_id
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: placa-created-index
          KeySchema:
            - AttributeName: placa
              KeyType: HASH
            - AttributeName: created_at
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TableName: !Sub "Invoices-${StageName}"

  #### SNS ####
  NotificationsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "Notifications-${StageName}"

  #### Lambda Functions ####
  
  IngestWebhookFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-ingest-webhook-${StageName}"
      CodeUri: ../src/functions/ingest_webhook
      Handler: app.lambda_handler
      Description: Recibe eventos HTTP de peajes y publica en EventBridge
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref Tags
        - DynamoDBReadPolicy:
            TableName: !Ref TollsCatalog
        - Statement:
            - Effect: Allow
              Action:
                - events:PutEvents
              Resource: !GetAtt GuatePassBus.Arn
      Events:
        ApiEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /webhook/toll
            Method: post

  ReadHistoryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-read-history-${StageName}"
      CodeUri: ../src/functions/read_history
      Handler: app.lambda_handler
      Description: Consulta historial de pagos e invoices por placa con soporte para filtros
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref Transactions
        - DynamoDBReadPolicy:
            TableName: !Ref Invoices
      Events:
        ApiPaymentEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /history/payments/{placa}
            Method: get
        ApiInvoiceEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /history/invoices/{placa}
            Method: get
        ApiTransactionsEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /history/transactions/{placa}
            Method: get

  SeedCsvFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-seed-csv-${StageName}"
      CodeUri: ../src/functions/seed_csv
      Handler: app.lambda_handler
      Description: Pobla las tablas DynamoDB con datos iniciales desde CSV
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref UsersVehicles
        - DynamoDBCrudPolicy:
            TableName: !Ref Tags
        - DynamoDBCrudPolicy:
            TableName: !Ref TollsCatalog

  ValidateTransactionFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-validate-transaction-${StageName}"
      CodeUri: ../src/functions/validate_transaction
      Handler: app.lambda_handler
      Description: Valida peaje, determina tipo de usuario y valida tag
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref UsersVehicles
        - DynamoDBReadPolicy:
            TableName: !Ref Tags
        - DynamoDBReadPolicy:
            TableName: !Ref TollsCatalog

  CalculateChargeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-calculate-charge-${StageName}"
      CodeUri: ../src/functions/calculate_charge
      Handler: app.lambda_handler
      Description: Calcula el monto a cobrar según tipo de usuario y tarifas

  PersistTransactionFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-persist-transaction-${StageName}"
      CodeUri: ../src/functions/persist_transaction
      Handler: app.lambda_handler
      Description: Persiste transacción e invoice en DynamoDB
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref Transactions
        - DynamoDBCrudPolicy:
            TableName: !Ref Invoices

  SendNotificationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-send-notification-${StageName}"
      CodeUri: ../src/functions/send_notification
      Handler: app.lambda_handler
      Description: Envía notificación del resultado de la transacción vía SNS
      Policies:
        - SNSPublishMessagePolicy:
            TopicName: !GetAtt NotificationsTopic.TopicName

  UpdateTagBalanceFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-update-tag-balance-${StageName}"
      CodeUri: ../src/functions/update_tag_balance
      Handler: app.lambda_handler
      Description: Actualiza balance del tag y maneja deuda/mora. También actualiza saldo_disponible en UsersVehicles.
      Environment:
        Variables:
          TAGS_TABLE: !Ref Tags
          USERS_TABLE: !Ref UsersVehicles
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref Tags
        - DynamoDBCrudPolicy:
            TableName: !Ref UsersVehicles

  CompletePendingTransactionFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-complete-pending-transaction-${StageName}"
      CodeUri: ../src/functions/complete_pending_transaction
      Handler: app.lambda_handler
      Description: Completa transacciones pendientes o con requires_payment=true. Calcula mora por minutos y crea invoice.
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref Transactions
        - DynamoDBCrudPolicy:
            TableName: !Ref Invoices
        - DynamoDBCrudPolicy:
            TableName: !Ref Tags
        - SNSPublishMessagePolicy:
            TopicName: !Ref NotificationsTopic
      Events:
        ApiCompleteEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /transactions/{event_id}/complete
            Method: post

  ManageTagsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-manage-tags-${StageName}"
      CodeUri: ../src/functions/manage_tags
      Handler: app.lambda_handler
      Description: Gestiona operaciones CRUD para tags asociados a placas
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref Tags
        - DynamoDBCrudPolicy:
            TableName: !Ref UsersVehicles
      Events:
        ApiCreateTagEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /users/{placa}/tag
            Method: post
        ApiGetTagEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /users/{placa}/tag
            Method: get
        ApiUpdateTagEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /users/{placa}/tag
            Method: put
        ApiDeleteTagEvent:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /users/{placa}/tag
            Method: delete

  #### IAM Roles ####
  
  EventBridgeStepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeStepFunctions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !GetAtt ProcessTollStateMachine.Arn

  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdaFunctions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ValidateTransactionFunction.Arn
                  - !GetAtt CalculateChargeFunction.Arn
                  - !GetAtt UpdateTagBalanceFunction.Arn
                  - !GetAtt PersistTransactionFunction.Arn
                  - !GetAtt SendNotificationFunction.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  MonitoringDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName: !Sub "${ProjectName}-dashboard-${StageName}"
      DashboardBody: !Sub
        - |
          {
            "periodOverride": "inherit",
            "widgets": [
              {
                "type": "metric",
                "x": 0,
                "y": 0,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "Lambda - Invocaciones",
                  "metrics": [
                    [ "AWS/Lambda", "Invocations", "FunctionName", "${ProjectName}-ingest-webhook-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-validate-transaction-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-calculate-charge-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-update-tag-balance-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-persist-transaction-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-send-notification-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-read-history-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-complete-pending-transaction-${StageName}", { "stat": "Sum" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "stat": "Sum",
                  "period": 300,
                  "stacked": false
                }
              },
              {
                "type": "metric",
                "x": 12,
                "y": 0,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "Lambda - Errores",
                  "metrics": [
                    [ "AWS/Lambda", "Errors", "FunctionName", "${ProjectName}-ingest-webhook-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-validate-transaction-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-calculate-charge-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-update-tag-balance-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-persist-transaction-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-send-notification-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-read-history-${StageName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${ProjectName}-complete-pending-transaction-${StageName}", { "stat": "Sum" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300,
                  "stacked": false
                }
              },
              {
                "type": "metric",
                "x": 0,
                "y": 6,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "Lambda - Duración Promedio (ms)",
                  "metrics": [
                    [ "AWS/Lambda", "Duration", "FunctionName", "${ProjectName}-ingest-webhook-${StageName}", { "stat": "Average" } ],
                    [ ".", ".", ".", "${ProjectName}-validate-transaction-${StageName}", { "stat": "Average" } ],
                    [ ".", ".", ".", "${ProjectName}-calculate-charge-${StageName}", { "stat": "Average" } ],
                    [ ".", ".", ".", "${ProjectName}-persist-transaction-${StageName}", { "stat": "Average" } ],
                    [ ".", ".", ".", "${ProjectName}-send-notification-${StageName}", { "stat": "Average" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300,
                  "stacked": false
                }
              },
              {
                "type": "metric",
                "x": 12,
                "y": 6,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "API Gateway - Solicitudes y Errores",
                  "metrics": [
                    [ "AWS/ApiGateway", "Count", "ApiId", "${RestApiId}", "Stage", "${StageName}", { "stat": "Sum", "label": "Requests" } ],
                    [ ".", "4XXError", ".", ".", ".", ".", { "stat": "Sum", "label": "4XX" } ],
                    [ ".", "5XXError", ".", ".", ".", ".", { "stat": "Sum", "label": "5XX" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "stacked": false,
                  "period": 300
                }
              },
              {
                "type": "metric",
                "x": 0,
                "y": 12,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "API Gateway - Latencia Promedio",
                  "metrics": [
                    [ "AWS/ApiGateway", "Latency", "ApiId", "${RestApiId}", "Stage", "${StageName}", { "stat": "Average" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300
                }
              },
              {
                "type": "metric",
                "x": 12,
                "y": 12,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "DynamoDB - Consumo de Lecturas",
                  "metrics": [
                    [ "AWS/DynamoDB", "ConsumedReadCapacityUnits", "TableName", "${TransactionsTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${InvoicesTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${UsersTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${TagsTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${TollsCatalogTableName}", { "stat": "Sum" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300
                }
              },
              {
                "type": "metric",
                "x": 0,
                "y": 18,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "DynamoDB - Consumo de Escrituras",
                  "metrics": [
                    [ "AWS/DynamoDB", "ConsumedWriteCapacityUnits", "TableName", "${TransactionsTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${InvoicesTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${UsersTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${TagsTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${TollsCatalogTableName}", { "stat": "Sum" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300
                }
              },
              {
                "type": "metric",
                "x": 12,
                "y": 18,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "DynamoDB - ThrottledRequests",
                  "metrics": [
                    [ "AWS/DynamoDB", "ThrottledRequests", "TableName", "${TransactionsTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${InvoicesTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${UsersTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${TagsTableName}", { "stat": "Sum" } ],
                    [ ".", ".", ".", "${TollsCatalogTableName}", { "stat": "Sum" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300
                }
              },
              {
                "type": "metric",
                "x": 0,
                "y": 24,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "Step Functions - Ejecuciones",
                  "metrics": [
                    [ "AWS/States", "ExecutionsStarted", "StateMachineArn", "${StateMachineArn}", { "stat": "Sum", "label": "Started" } ],
                    [ ".", "ExecutionsSucceeded", ".", ".", { "stat": "Sum", "label": "Succeeded" } ],
                    [ ".", "ExecutionsFailed", ".", ".", { "stat": "Sum", "label": "Failed" } ],
                    [ ".", "ExecutionThrottled", ".", ".", { "stat": "Sum", "label": "Throttled" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300
                }
              },
              {
                "type": "metric",
                "x": 12,
                "y": 24,
                "width": 12,
                "height": 6,
                "properties": {
                  "title": "SNS - Mensajes Publicados",
                  "metrics": [
                    [ "AWS/SNS", "NumberOfMessagesPublished", "TopicName", "${TopicName}", { "stat": "Sum" } ],
                    [ ".", "NumberOfNotificationsFailed", ".", ".", { "stat": "Sum" } ]
                  ],
                  "region": "${AWS::Region}",
                  "view": "timeSeries",
                  "period": 300
                }
              }
            ]
          }
        - {
            "RestApiId": !Ref RestApi,
            "StateMachineArn": !GetAtt ProcessTollStateMachine.Arn,
            "TopicName": !GetAtt NotificationsTopic.TopicName,
            "TransactionsTableName": !Ref Transactions,
            "InvoicesTableName": !Ref Invoices,
            "UsersTableName": !Ref UsersVehicles,
            "TagsTableName": !Ref Tags,
            "TollsCatalogTableName": !Ref TollsCatalog
          }

Outputs:
  ApiUrl:
    Description: URL base del API (stage actual)
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}"
  WebhookEndpoint:
    Description: Endpoint para ingesta de eventos de peaje
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/webhook/toll"
  PaymentsHistoryEndpoint:
    Description: Endpoint para consultar historial de pagos
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/history/payments/{placa}"
  InvoicesHistoryEndpoint:
    Description: Endpoint para consultar historial de invoices
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/history/invoices/{placa}"
  CompleteTransactionEndpoint:
    Description: Endpoint para completar transacciones pendientes
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/transactions/{event_id}/complete"
  CreateTagEndpoint:
    Description: Endpoint para crear un tag (POST)
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/users/{placa}/tag"
  GetTagEndpoint:
    Description: Endpoint para obtener un tag por placa (GET)
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/users/{placa}/tag"
  UpdateTagEndpoint:
    Description: Endpoint para actualizar un tag (PUT)
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/users/{placa}/tag"
  DeleteTagEndpoint:
    Description: Endpoint para desactivar un tag (DELETE)
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/users/{placa}/tag"
  EventBusName:
    Description: Nombre del EventBridge Bus
    Value: !Ref GuatePassBus
  StateMachineArn:
    Description: ARN de la State Machine
    Value: !GetAtt ProcessTollStateMachine.Arn
  StateMachineName:
    Description: Nombre de la State Machine
    Value: !Sub "${ProjectName}-process-toll-${StageName}"
  SnsTopicArn:
    Description: ARN del SNS Topic para notificaciones
    Value: !Ref NotificationsTopic
  Tables:
    Description: Tablas DynamoDB creadas
    Value: !Sub |
      UsersVehicles=${UsersVehicles}
      Tags=${Tags}
      TollsCatalog=${TollsCatalog}
      Transactions=${Transactions}
      Invoices=${Invoices}
